# Terraform (infra local - nao versionar)
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

*.tf
*.tfvars
*.tfvars.json

# Secrets / env
.env
.env.*
*.pem
*.key
