# Terraform runtime (não versionar)
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Variáveis locais com valores sensíveis
*.auto.tfvars
*.auto.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Secrets / env
.env
.env.*
*.pem
*.key
